<!-- hero section -->

<section class="pb-10">

  <!-- Hero Section -->
  <div class="mx-auto w-full    ">
    <!-- Content -->
    <div class="grid justify-items-stretch md:mb-12 md:grid-cols-3 md:gap-4 lg:mb-16 lg:gap-6">

      <a href="javascript:void(0);"
         class="relative flex h-[800px] flex-col gap-4 rounded-md px-4  [grid-area:1/1/2/2] c-grid-area-1_1_2_2 md:p-0 md:[grid-area:1/1/2/4] c-md-grid-area-1_1_2_4">
        <div
          class="absolute bottom-12 left-8 z-20 flex w-56 max-w-lg flex-col items-start rounded-md bg-transparent p-6 sm:w-full md:bottom-2.5 md:left-2.5">
          <div class="mb-4 rounded-md bg-red-500 px-2 ">
            <p class="text-sm font-semibold text-white">
              CATEGORY NAME
            </p>
          </div>
          <p class="mb-4 max-w-xs text-xl font-bold md:text-2xl text-white">
            Diam cursus a ornare massa orci sodales habitasse gravida
            bibendum.
          </p>
          <div class="flex flex-col text-sm text-white md:flex-row">
            <p>Laila Bahar</p>
            <p class="mx-2 hidden md:block">-</p>
            <p>6 mins read</p>
          </div>
        </div>
        <img src="assets/images/hero.jpg" alt="hero picture" class="inline-block h-full w-full object-cover"/>
      </a>

    </div>
  </div>

  <!-- Last Event  -->
  <div class="mx-auto w-full max-w-7xl px-5  md:px-10 ">

    <h2 class="text-center text-3xl font-bold md:text-5xl uppercase">
      The latest and greatest news
    </h2>
    <p class="mb-8 mt-4 text-center text-sm text-gray-500 sm:text-base md:mb-12 lg:mb-16">
      Lorem ipsum dolor sit amet elit ut aliquam
    </p>

    <!-- Content -->
    <div class="grid justify-items-stretch md:mb-12 md:grid-cols-3 md:gap-4 lg:mb-16 lg:gap-6">

      <a href="javascript:void(0);" class="flex flex-col gap-4 rounded-md px-4 py-8 md:p-0">
        <img src="assets/images/hero2.jpg" alt="" class="inline-block h-60 w-full object-cover"/>
        <div class="flex flex-col items-start py-4">
          <div class="mb-4 rounded-md bg-red-500 px-2 py-1.5">
            <p class="text-sm font-semibold text-white">
              CATEGORY NAME
            </p>
          </div>
          <p class="mb-4 text-xl font-bold md:text-2xl">
            The latest news with Flowspark
          </p>
          <div class="flex flex-col text-sm text-gray-500 md:flex-row">
            <p>Laila Bahar</p>
            <p class="mx-2 hidden md:block">-</p>
            <p>6 mins read</p>
          </div>
        </div>
      </a>

      <a href="javascript:void(0);" class="flex flex-col gap-4 rounded-md px-4 py-8 md:p-0">
        <img src="assets/images/2020-000.jpg" alt="" class="inline-block h-60 w-full object-cover"/>
        <div class="flex flex-col items-start py-4">
          <div class="mb-4 rounded-md bg-red-500 px-2 py-1.5">
            <p class="text-sm font-semibold text-white">
              CATEGORY NAME
            </p>
          </div>
          <p class="mb-4 text-xl font-bold md:text-2xl">
            The latest news with Flowspark
          </p>
          <div class="flex flex-col text-sm text-gray-500 md:flex-row">
            <p>Laila Bahar</p>
            <p class="mx-2 hidden md:block">-</p>
            <p>6 mins read</p>
          </div>
        </div>
      </a>

      <a href="javascript:void(0);" class="flex flex-col gap-4 rounded-md px-4 py-8 md:p-0">
        <img src="assets/images/2021-1.jpg" alt="" class="inline-block h-60 w-full object-cover"/>
        <div class="flex flex-col items-start py-4">
          <div class="mb-4 rounded-md bg-red-500 px-2 py-1.5">
            <p class="text-sm font-semibold text-white">
              CATEGORY NAME
            </p>
          </div>
          <p class="mb-4 text-xl font-bold md:text-2xl">
            The latest news with Flowspark
          </p>
          <div class="flex flex-col text-sm text-gray-500 md:flex-row">
            <p>Laila Bahar</p>
            <p class="mx-2 hidden md:block">-</p>
            <p>6 mins read</p>
          </div>
        </div>
      </a>

    </div>
  </div>
</section>
