<header class="sticky inset-0 z-50   bg-white/40 backdrop-blur-xl">
  <nav
    class="mx-auto flex max-w-6xl gap-8 px-6 transition-all duration-200 ease-in-out lg:px-12 py-4 w-full justify-evenly ">

    <a href="/">
      <img src="assets/images/Logo.png" loading="lazy" style="color:transparent" width="100"
           height="32"></a>

    <div class="flex justify-around w-2/6  ">


      <a aria-current="page"
         class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200  hover:text-gray-900 relative group"
         routerLink="/home">
        Home
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
      </a>

      <a aria-current="page"
         class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200  hover:text-gray-900 relative group"
         routerLink="/home">
        Home
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
      </a>

      <a aria-current="page"
         class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200  hover:text-gray-900 relative group"
         routerLink="/home">
        Home
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
      </a>

      <a aria-current="page"
         class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200  hover:text-gray-900 relative group"
         routerLink="/home">
        Home
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
      </a>

      <a aria-current="page"
         class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200  hover:text-gray-900 relative group"
         routerLink="/home">
        Home
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-500 transition-all duration-300 group-hover:w-full"></span>
      </a>


    </div>

    <div class="hidden items-center justify-center gap-6 md:flex">
      <a *ngIf="!isLoggedIn" routerLink="/login"
         class="rounded-md bg-gradient-to-br from-red-600 to-orange-400 px-3 py-1.5 font-dm
         text-sm font-medium text-white shadow-md shadow-red-400/50 transition-transform duration-200 ease-in-out hover:scale-[1.03]">
        Sign up for free
      </a>
      <a *ngIf="isLoggedIn" (click)="logout()"
         class="rounded-md bg-gradient-to-br from-red-600 to-orange-400 px-3 py-1.5 font-dm
         text-sm font-medium text-white shadow-md shadow-red-400/50 transition-transform duration-200 ease-in-out hover:scale-[1.03]">
        Logout
      </a>
    </div>

  </nav>

</header>
