<app-navbar></app-navbar>



<app-hero></app-hero>


<header >
  <!-- Hero top -->
  <div class="bg-gray-300">
    <!-- Container -->
    <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
      <!-- Title -->
      <h1 class="mb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12 md:leading-tight">
        The Website You Want Without The Dev Time.
      </h1>
      <!-- Buttons -->
      <div class="flex items-stretch">
        <a href="javascript:void(0);"
           class="mr-6 rounded-md bg-black px-8 py-4 text-center font-semibold text-white md:mr-8">
          Get Started
        </a>
        <a href="javascript:void(0);"
           class="flex items-center justify-center rounded-md border border-solid border-black bg-white px-6 py-3 font-bold">
          <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94d411e6cf99_Vector%20(6).svg"
               alt="" class="mr-2 max-h-4 w-5"/>
          <p>Download App</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Hero bottom -->
  <div class="mx-auto max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
    <!-- Component -->
    <div class="relative flex max-w-7xl flex-col gap-4 md:flex-row lg:justify-end">
      <!-- Arrow down -->
      <a href="javascript:void(0);" class="absolute bottom-0 -left-3">
        <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a946f0be6cfa0_Frame%2048040.svg"
             alt="" class="hidden md:inline-block"/>
      </a>
      <div class="max-w-xl md:mr-[520px] c-mr-520px md:max-w-xs lg:mr-auto">
        <!-- Title -->
        <h3 class="text-2xl font-bold md:text-3xl">Introduction</h3>
        <!-- Divider -->
        <div class="my-6 w-16 border-t border-black"></div>
        <p class="text-sm text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique. Duis cursus,
          mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
          libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
          lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        </p>
      </div>
      <!-- Image -->
      <img
        src="assets/images/hero2.jpg"
        alt=""
        class="relative -bottom-6 -right-6 mt-20 w-[480px] object-cover md:absolute md:mt-0 md:h-[480px] c-h-480px"/>
    </div>
  </div>
</header>
