<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex flex-col flex-1 w-full">
    <app-header></app-header>
    <main class="h-full overflow-y-auto">
      <div class="container px-6 mx-auto grid">
        <h2
          class="my-6 text-2xl  font-monoton text-gray-700 dark:text-gray-200"
        >
          Manage Users
        </h2>

        <div class="flex items-center justify-start mt-4 space-x-2" >

          <a routerLink="/dashboard/users/create">
            <button
              class="flex items-center justify-between  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red">
              <span class="mr-2" aria-hiddeLogoutn="true">+</span>
              Add User
              <span class="ml-2" aria-hiddeLogoutn="true">+</span>
            </button>
          </a>

        </div>

        <!-- Choisir le nombre d'éléments par page -->
        <div class="flex items-center justify-end my-4 space-x-2">
          <label for="pageSize" class="text-gray-500 text-sm dark:text-gray-400 ">Display per page:</label>
          <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)"
                  class="px-3 py-1 border focus:border-red-500 rounded-md bg-gray-50 text-gray-700 dark:bg-gray-800 dark:text-gray-400
                 focus:outline-none focus:ring-2 focus:ring-red-600 hover:bg-gray-100">
            <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
          </select>
        </div>

        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
          <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
              <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <th class="px-4 py-3">Client Username</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Sex</th>
                <th class="px-4 py-3">Role</th>
                <th class="px-4 py-3">Update Status</th>
                <th class="px-4 py-3">Delete</th>
              </tr>
              </thead>
              <tbody
                class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
              >
              <tr *ngFor="let user of users" class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div
                      class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                      <img
                        class="object-cover w-full h-full rounded-full"
                        src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                        alt=""
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>
                    <div>
                      <p class="font-semibold">{{ user.username }}</p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        {{ user.role }}
                      </p>
                    </div>
                  </div>
                </td>

                <td class="px-4 py-3 text-sm">
                  {{ user.email }}
                </td>

                <td class="px-4 py-3 text-xs">
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                        >
                          {{ user.sex }}
                        </span>
                </td>

                <td class="px-4 py-3 text-xs">

                  <span
                    class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded-full dark:bg-red-700 dark:text-green-100"
                  >
                         {{ user.role }}
                        </span>
                </td>
                <td class="px-4 py-3 text-xs" >
                  <a [routerLink]="['/dashboard/users/update-status-user/', user.id]">
                    <button
                      class="lg:w-full flex  items-center justify-between md:w-1/2 sm:w-full  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red">

                      Edit
                      <i class="fa-solid fa-pen-to-square sm:ml-1 md:ml-2 h-5 w-5"></i>

                    </button>
                  </a>
                </td>

                <td class="px-4 py-3 text-xs">
                  <button (click)="deleteUser(user.id)"
                          class="flex items-center justify-between md:w-1/2 sm:w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red">
                    Delete
                    <i class="fa-solid fa-trash sm:mx-1 md:mx-2  h-5 w-5"></i>
                  </button>
                </td>
              </tr>


              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div
            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
            <!-- Affichage des éléments en cours -->
            <span class="flex items-center col-span-3">
                            Showing {{ (currentPage * pageSize) + 1 }}
              -{{ Math.min((currentPage + 1) * pageSize, totalElements) }}
              of {{ totalElements }}
                  </span>

            <span class="col-span-2"></span>

            <!-- Pagination -->
            <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <!-- Bouton "Précédent" -->
          <li>
            <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-red"
                    [disabled]="currentPage === 0"
                    (click)="goToPreviousPage()"
                    aria-label="Previous">
              <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </button>
          </li>

          <!-- Affichage des pages -->
                  <li *ngFor="let i of pages">
                      <button class="px-3 py-1 rounded-md"
                              [class.bg-red-600]="currentPage === i"
                              [class.text-white]="currentPage === i"
                              (click)="changePage(i)">
                                          {{ i + 1 }}
                      </button>
                    </li>


          <!-- Bouton "Suivant" -->
          <li>
            <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-red"
                    [disabled]="currentPage === totalPages - 1"
                    (click)="goToNextPage()"
                    aria-label="Next">
              <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </span>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
